node-red-flow.json
[{"id":"80ec4fe2.1655f","type":"tab","label":"Simple RF Tracker","disabled":false,"info":""},{"id":"d14f4667.7dc468","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"},{"id":"f2e629f8.c0c188","type":"xmlrpc-client","z":"","name":"XML_RPC_9090","host":"localhost","port":"9090","path":"/"},{"id":"98527994.4a5f68","type":"zeromq in","z":"80ec4fe2.1655f","name":"","topic":"","fields":"payload","server":"tcp://127.0.0.1:5050","output":"json","isserver":true,"intype":"pull","x":90,"y":120,"wires":[["812f64bc.915798"]]},{"id":"6de9d24a.7ba84c","type":"comment","z":"80ec4fe2.1655f","name":"Réception des données GNU Radio","info":"","x":160,"y":80,"wires":[]},{"id":"3ec0fd97.b79812","type":"comment","z":"80ec4fe2.1655f","name":"Requêtes AJAX","info":"","x":100,"y":420,"wires":[]},{"id":"e213ad62.93429","type":"http in","z":"80ec4fe2.1655f","name":"","url":"/history","method":"get","upload":false,"swaggerDoc":"","x":90,"y":460,"wires":[["b6555f0a.9e3d3"]]},{"id":"3d35e5c4.9080da","type":"http response","z":"80ec4fe2.1655f","name":"","statusCode":"200","headers":{},"x":480,"y":460,"wires":[]},{"id":"812f64bc.915798","type":"function","z":"80ec4fe2.1655f","name":"Stockage valeur gain","func":"let rss =  msg.payload.gain;\n\nlet item = {\"rss\": rss, \"timestamp\": Date.now()}\n\nif (flow.get(\"averageLastUpdate\") + (flow.get(\"averageDelay\")*1000) > item.timestamp) {\n    if (item.rss > flow.get(\"averageRss\")) {\n        flow.set(\"averageRss\", item.rss);\n    }\n} else {\n    item.rss = flow.get(\"averageRss\");\n    \n    let rssHistory = flow.get(\"rssHistory\");\n    if (rssHistory.length >= flow.get(\"historyLength\")) rssHistory.shift;\n    rssHistory.push(item);\n    \n    flow.set(\"averageRss\", rss);\n    flow.set(\"averageLastUpdate\", item.timestamp);\n    flow.set(\"rssHistory\", rssHistory);\n    msg.payload = item;\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":120,"wires":[["9e73be8b.db467"]]},{"id":"9e73be8b.db467","type":"websocket out","z":"80ec4fe2.1655f","name":"","server":"d14f4667.7dc468","client":"","x":440,"y":120,"wires":[]},{"id":"b6555f0a.9e3d3","type":"json","z":"80ec4fe2.1655f","name":"","property":"payload","action":"str","pretty":true,"x":270,"y":460,"wires":[["3d35e5c4.9080da"]]},{"id":"d59c25fb.a00458","type":"function","z":"80ec4fe2.1655f","name":"Initialisation des variables","func":"// Webserver basique pour la gestion de la partie front-end\n\nlet gain = flow.get(\"gain\");\nlet bandwidth = flow.get(\"bandwidth\");\nlet freq = flow.get(\"freq\");\nlet sampRate = flow.get(\"sampRate\");\nlet averageDelay = flow.get(\"averageDelay\");\n\nmsg.payload = {\n  \"gain\": gain,\n  \"bandwidth\": bandwidth,\n  \"freq\": freq,\n  \"sampRate\": sampRate,\n  \"averageDelay\": averageDelay\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"rss\",-150);\nflow.set(\"historyLength\", 10);\n\nflow.set(\"averageRss\", -200);\nflow.set(\"averageLastUpdate\", Date.now());\nflow.set(\"rssHistory\",[]);\n\nflow.set(\"gain\", 20);\nflow.set(\"bandwidth\",200);\nflow.set(\"freq\",433.920);\nflow.set(\"sampRate\",2);\nflow.set(\"averageDelay\", .5);\n\nflow.set(\"gainRange\", [0, 50]);\nflow.set(\"bandwidthRange\",[20, 1000]);\nflow.set(\"freqRange\", [300,2600]);\nflow.set(\"sampRateRange\",[0.1,30]);\nflow.set(\"averageDelayRange\",[0.01,2]);","finalize":"","x":370,"y":220,"wires":[["571f3253.cb76fc"]]},{"id":"376ddeaa.11bd32","type":"comment","z":"80ec4fe2.1655f","name":"README.md","info":"# Signal Tracker\n----------------\n\nPartie back-end du tracker de signaux.\n\nLe système écoute via le protocole ZeroMQ les valeurs renvoyées par GNURadio.\n\nIl permet également de contrôler les paramètres du script GNURadio en mettant à jour certaines variables via le protocole XMLRCP\n\nCe script lance deux démons :\n- en python le script d'écoute de fréquence\n- en nodeJS le serveur web pour l'affichage de la page web, disponible sur le port 3000","x":90,"y":40,"wires":[]},{"id":"e441bf03.2676d","type":"http in","z":"80ec4fe2.1655f","name":"","url":"/write_config","method":"get","upload":false,"swaggerDoc":"","x":100,"y":540,"wires":[["e9d851b6.128b4"]]},{"id":"260134f9.d7108c","type":"xmlrpc call","z":"80ec4fe2.1655f","name":"","method":"set_freq","client":"f2e629f8.c0c188","x":640,"y":480,"wires":[[]]},{"id":"e9d851b6.128b4","type":"function","z":"80ec4fe2.1655f","name":"Conversion JSON -> donnée simple","func":"let gain = {payload: parseInt(msg.payload.gain)};\nlet freq = {payload: parseFloat(msg.payload.freq)*1000000};\nlet sampRate = {payload: parseFloat(msg.payload.sampRate)*1000000};\nlet bandwidth = {payload: parseFloat(msg.payload.bandwidth)*1000};\n\nflow.set(\"gain\", parseInt(msg.payload.gain));\nflow.set(\"freq\", parseFloat(msg.payload.freq));\nflow.set(\"sampRate\", parseFloat(msg.payload.sampRate));\nflow.set(\"bandwidth\", parseFloat(msg.payload.bandwidth));\nflow.set(\"averageDelay\", parseFloat(msg.payload.averageDelay));\n\n//freq.payload = 960000000; //freq.payload.toString() + \"M\";\nnode.warn(\"Freq : \" + freq.payload);\n\nreturn [freq,sampRate,bandwidth,gain, msg];","outputs":5,"noerr":0,"initialize":"","finalize":"","x":370,"y":540,"wires":[["260134f9.d7108c"],["af2c5d19.199bc"],["5419d57e.668c5c"],["bebe85d1.4484f8"],["ebaff3c8.ca563"]]},{"id":"af2c5d19.199bc","type":"xmlrpc call","z":"80ec4fe2.1655f","name":"","method":"set_sampRate","client":"f2e629f8.c0c188","x":660,"y":520,"wires":[[]]},{"id":"5419d57e.668c5c","type":"xmlrpc call","z":"80ec4fe2.1655f","name":"","method":"set_bandwidth","client":"f2e629f8.c0c188","x":660,"y":560,"wires":[[]]},{"id":"bebe85d1.4484f8","type":"xmlrpc call","z":"80ec4fe2.1655f","name":"","method":"set_gain","client":"f2e629f8.c0c188","x":640,"y":600,"wires":[[]]},{"id":"6973f720.b1a958","type":"exec","z":"80ec4fe2.1655f","command":"python ./gnuradio_freq_listener.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GNU Script","x":330,"y":360,"wires":[[],[],[]]},{"id":"c6154c2f.2976f","type":"inject","z":"80ec4fe2.1655f","name":"Boot dependances","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":110,"y":220,"wires":[["d59c25fb.a00458","5edd88cc.888f78","6973f720.b1a958"]]},{"id":"3a69b168.113a9e","type":"comment","z":"80ec4fe2.1655f","name":"Init","info":"","x":80,"y":180,"wires":[]},{"id":"ebaff3c8.ca563","type":"http response","z":"80ec4fe2.1655f","name":"Réponse AJAX","statusCode":"200","headers":{},"x":660,"y":640,"wires":[]},{"id":"a1cf2f77.aa81f","type":"http in","z":"80ec4fe2.1655f","name":"","url":"/read_config","method":"get","upload":false,"swaggerDoc":"","x":110,"y":680,"wires":[["2c48ba35.30d516"]]},{"id":"2c48ba35.30d516","type":"function","z":"80ec4fe2.1655f","name":"Récupération des données configurables","func":"let gain = flow.get(\"gain\");\nlet bandwidth = flow.get(\"bandwidth\");\nlet freq = flow.get(\"freq\");\nlet sampRate = flow.get(\"sampRate\");\nlet averageDelay = flow.get(\"averageDelay\");\n\nlet gainRange = flow.get(\"gainRange\");\nlet bandwidthRange = flow.get(\"bandwidthRange\");\nlet freqRange = flow.get(\"freqRange\");\nlet sampRateRange = flow.get(\"sampRateRange\");\nlet averageDelayRange = flow.get(\"averageDelayRange\");\n\nmsg.payload = {\n    gain: gain, \n    bandwidth: bandwidth, \n    freq: freq, \n    sampRate: sampRate, \n    averageDelay: averageDelay,\n    gainRange: gainRange, \n    bandwidthRange: bandwidthRange, \n    freqRange: freqRange, \n    sampRateRange: sampRateRange, \n    averageDelayRange: averageDelayRange\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":680,"wires":[["efceca94.df50c8"]]},{"id":"efceca94.df50c8","type":"http response","z":"80ec4fe2.1655f","name":"Réponse AJAX","statusCode":"200","headers":{},"x":660,"y":680,"wires":[]},{"id":"5edd88cc.888f78","type":"exec","z":"80ec4fe2.1655f","command":"node webserver.js","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Webserver basique","x":350,"y":280,"wires":[[],[],[]]},{"id":"571f3253.cb76fc","type":"delay","z":"80ec4fe2.1655f","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":220,"wires":[["e9d851b6.128b4"]]}]